nav.nav-buttons {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

nav.nav-buttons ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.nav-buttons ul li {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #4b4b4b;
    background: #4b4b4b;
    line-height: 50px;
    margin: 0 10px;
}

nav.nav-buttons ul li a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

nav.nav-buttons ul li a img {
    height: 20px;
    margin-right: 5px;
}